<div class="card article-card">
  {{#if image}}
    <img class="card-img-top col-md-12" src="{{image}}" alt="{{title}}">
  {{/if}}
  {{#if video}}
  <div class="card-video-container">
    <video class="card-video-top col-md-12" loop muted autoplay>
      <source src="{{video}}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="gradient-overlay"></div>
  </div>
  {{/if}}
  <div class="card-body col-lg-offset-3 col-sm-offset-2 col-lg-6 col-sm-8">
    {{#if title}}
      <h1 class="card-title {{if video "title-video"}}">{{title}}</h1>
    {{/if}}
    {{yield}}
  </div>
</div>
