<div class="card compagny-card col-sm-6">
  <img class="card-img-top" src="{{image}}" alt="{{title}}">
  <div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    <p class="card-text">
      {{yield}}
    </p>
    {{#link-to link class="btn btn-primary"}}Lees meer over {{title}}{{/link-to}}
  </div>
</div>
